/* 
====== 
Variables 
======
*/
:root {
  --clr-elements: hsl(0, 0%, 100%);
  --clr-background: hsl(0, 0%, 98%);
  --clr-text: hsl(200, 15%, 8%);
  --thick: 300;
  --normal: 600;
  --bold: 800;
  --home-font: 0.875rem;
  --details-font: 1rem;
  --radius: 5px;
  --shadow: 0 4px 8px rgba(116, 105, 105, 0.2);
}

.light-theme {
  --clr-elements: hsl(0, 0%, 100%);
  --clr-background: hsl(0, 0%, 98%);
  --clr-text: hsl(200, 15%, 8%);
  --shadow: 0 4px 8px rgba(116, 105, 105, 0.2);
}

.dark-theme {
  --clr-elements: hsl(209, 23%, 22%);
  --clr-background: hsl(207, 26%, 17%);
  --clr-text: hsl(0, 0%, 100%);
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1.3;
  font-family: "Nunito Sans", sans-serif;
  color: var(--clr-text);
}

#root {
  position: relative;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-elements);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
  height: 10vh;
}

@media screen and (max-width: 400px) {
  header {
    font-size: 14px;
  }
}

.header h3 {
  font-weight: var(--bold);
}

.theme-switch {
  display: flex;
  align-items: center;
  background-color: inherit;
  color: inherit;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.theme-switch:focus,
input:focus {
  outline: none;
}

.theme-switch span {
  padding-left: 0.5rem;
  font-weight: var(--normal);
}

/* Main */
main {
  background-color: var(--clr-background);
  margin-top: 10vh;
  min-height: 90vh;
}
#home {
  font-size: var(--home-font);
}
#details {
  font-size: var(--details-font);
  padding: 2rem 1rem;
}
@media screen and (min-width: 480px) {
  #details {
    padding: 2rem 4rem;
  }
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: var(--thick);
}

.form-control {
  padding: 1.5rem;
  padding-bottom: 0;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
/* Search */
.input-box {
  position: relative;
}

input {
  background-color: var(--clr-elements);
  color: hsl(0, 0%, 52%);
  min-width: 19rem;
  padding: 1rem;
  padding-left: 3rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  border: none;
}

.search-icon {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
/* filter */
.Dropdown-root {
  position: relative;
  box-shadow: var(--shadow);
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: var(--clr-elements);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--clr-text);
  cursor: default;
  outline: none;
  padding: 1rem 3rem 1rem 1rem;
  min-width: 12rem;
  /* transition: all 200ms ease; */
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: var(--clr-text) transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 24px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: var(--clr-elements);
  border: 1px solid var(--clr-elements);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  margin-top: 0.25rem;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: var(--clr-text);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: var(--clr-background);
  color: var(--clr-text);
}

.Dropdown-option.is-selected {
  background-color: var(--clr-background);
  /* color: #333; */
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

/* Loading */
/* loading animation */
.loader,
.loader:before,
.loader:after {
  background: var(--clr-text);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 5em;
}
.loader {
  color: var(--clr-text);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Country card */
.card {
  width: 16rem;
  border-radius: var(--radius);
  background-color: var(--clr-elements);
  overflow: hidden;
  margin: 2rem;
}
.card a {
  text-decoration: none;
  color: inherit;
}
.card img {
  width: 100%;
}

.card .info {
  padding: 1em;
}
.info h2 {
  font-weight: var(--bold);
  margin-bottom: 0.5em;
}

.property {
  font-weight: var(--normal);
  margin-right: 0.5em;
}
/* Button */
button {
  background-color: var(--clr-elements);
  color: var(--clr-text);
  padding: 0.5rem 1rem;
  border: none;
  min-width: 6rem;
  border-radius: 0.25rem;
  font: inherit;
  cursor: pointer;
  box-shadow: var(--shadow);
}

button:focus {
  outline: none;
}

/* country details */
@media screen and (min-width: 1120px) {
  section.info-box {
    /* padding-left: 4rem; */
    min-width: 40%;
  }
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
article {
  margin-top: 3rem;
}
section.flag,
section.info-box {
  max-width: 35rem;
}
.flag img {
  width: 100%;
}
section.info-box {
  display: flex;
  flex-direction: column;
}

.info-box h2 {
  padding-top: 2rem;
  width: 100%;
}
#details .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.info .sub {
  align-self: flex-start;
}

.lead,
.sub {
  padding: 1rem 0;
  min-width: 16rem;
  max-width: 18rem;
}
.info-box p {
  padding: 0.25rem 0;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}
.border-countries button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.25rem;
}

button.back {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
